<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @comment.user.name %> has created the following post "<%= @post.title %>"</h1>
    <p>
      <%= @post.body %>
    </p>
  </body>
</html>
