// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
//something else about sass
button {
  background-color: #879637;
  border-color: #000000;
}
.social-btn {
    background-color: #879637;
    color: #fff;
    height: 20px;
    padding: 7 7 7 7;
    padding:inherit;
    width: 150px;
    text-align: center;
  }
